.GlassPanel {
  color: #fff;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  width: 100%;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.073);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 150px;
}

.topLeftContent {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0; /* Remove default margin if any */
  color: #000000;
  font-family: cursive;
  margin-left: 8px;
}